.DonationsPage {
  &__text {
    color: var(--text_secondary);
  }
}

.Snippets {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__snippet {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__create-button {
    width: 100%;
  }

  &__fixed-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .FixedLayout__in {
    width: 100%;
  }
}

.Snippet {
  width: 100%;

  &__image {
    height: 140px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__content {
    padding: 8px 12px;
  }

  &__separator {
    margin: 12px 0;

    .Separator__in {
      margin: 0 !important;
    }
  }

  &__progress-description {
    font-size: 13px;
    margin-bottom: 8px;
    color: #000;
    text-align: left;
  }

  &__progress-bar--full {
    .Progress__in {
      background-color: #4BB34B;
    }
  }
}

.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__progress {
    width: 70%;
  }

  &__help-button {
    width: 25%;
  }
}
