.DonationCard {
  &__image {
    height: 140px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__content {
    padding: 16px 12px;
  }

  &__name {
    margin-bottom: 4px;
  }

  &__author {
    font-size: 14px;
    color: var(--text_subhead);
    margin-bottom: 4px;
  }

  &__date {
    font-size: 13px;
    color: var(--text_secondary)
  }

  &__separator {
    margin: 12px 0;

    .Separator__in {
      margin: 0 !important;
    }
  }

  &__target-title {
    margin-bottom: 8px;
  }
}

.DonationProgress {
  background-color: #eaecf0;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 24px;

  &__target {
    position: absolute;
    right: 0;
    padding: 3px 8px;
    color: var(--text_secondary);
    font-size: 14px;
  }

  &__current {
    position: relative;
    z-index: 2;
    padding: 3px 8px;
    border-radius: 6px;
    background-color: var(--dynamic_green);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
  }
}

.DonationProgressFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__progress {
    width: 70%;

    .Progress__in {
      background-color: var(--dynamic_green);
    }
  }

  &__help-button {
    width: 25%;
    background-color: var(--dynamic_green);
  }
}

.DonationSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.FixedFooter {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
